<!doctype html>
<html class="no-js" lang="" ng-app="ComplexDemo" ng-cloak class="ng-cloak">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>jsTree-Angular</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/themes/default/style.min.css" />

    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div ng-controller="MainController">
            <h1>jsTree-Angular demo</h1>
            <pre>{{jsonData}}</pre>

            <button type="button" ng-click="refresh()">Refresh tree</button>
            <hr />
            <input type="text" ng-model="search" value="" placeholder="Search..." />
            <js-tree tree-model="jsonData" tree-search="search" tree-plugins="dnd, search, wholerow" tree-options="myOptions"></js-tree>

            <hr />
            <button type="button" ng-click="show_moved()">Show {{moves || 0}} moves so far</button>
            <pre>{{movedNodes | json}}</pre>
        </div>

        <!-- jQuery must be loaded first -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- if jQuery CDN not loaded -->
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.0.min.js"><\/script>')</script>
        <!-- Than load Angularjs -->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
        <!-- if Angularjs CDN not loaded -->
        <script>(typeof angular != 'undefined') || document.write('<script src="js/vendor/angular.min.js")<\/script>')</script>
        <!-- Than load jQuery jsTree | included if using js-angular.pack.min.js -->


        <script src="/dist/jstree-angular.pack.min.js"></script>

        <script src="js/app.js"></script>

    </body>
</html>
